/* ?GOOGLE FONTS LINKING */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* ?RESET TO DEFAULTS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  outline: 0;
}

/* ?CUSTOM CSS */
:root {
  /* !COLOR */
  --color-white: #fff;
  --color-white-light: #edf6f9;
  --color-orange: #fca311;
  --color-black: #000;
  --bg-color: #edf2f4;
  --color-grey: #d1d0d0;
}

/* ?GENERAL CSS */
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--color-white);
}

a {
  color: var(--color-white-light);
  font-size: 1.1rem;
}

button {
  cursor: pointer;
}

img {
  object-fit: cover;
  width: 100%;
}

p {
  font-size: 1.1rem;
}

/* ?HEADER SECTION */
.header-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url(./imgs/bg-image1.jpeg) no-repeat top / cover;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--color-white);
}

.header-section h1 a {
  font-size: 2.5rem;
}
.header-section span {
  color: var(--color-orange);
}

.header-section div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-section div i {
  font-size: 1.3rem;
  cursor: pointer;
}

.header-section div > a:hover {
  text-decoration: underline;
}

/* ?SEARCH SECTION */
.search-section {
  background-color: var(--color-white);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  width: 50rem;
  height: 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  gap: 1rem;
}

.search-section i {
  font-size: 1.1rem;
  padding-left: 1rem;
}

.search-section input[type="search"] {
  width: 100%;
  font-size: 1rem;
  color: var(--color-black);
}

.search-btn {
  padding: 0.5rem 1rem;
  align-self: flex-start;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background: #f4f3ee;
  font-size: 0.9rem;
}

/* ? START EXPLORING SECTION */
.start-exploring {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--color-grey);
  z-index: 0;
}

.start-exploring i {
  font-size: 15rem;
}

.start-exploring h3 {
  font-size: 4rem;
}

/* ? ERROR MESSAGE SECTION */
.error-message {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-grey);
  z-index: 0;
  display: none;
}

.error-message h3 {
  font-size: 2rem;
}

/* ?MOVIE DISPLAY SECTION */
main {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.box {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-black);
}

.box:last-child {
  border: 0;
}

.main-image {
  width: 150px;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}

.text-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text-header small {
  font-size: 0.9rem;
}

.text-header .ratings {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.ratings i {
  color: var(--color-orange);
}

.text-sub-heading {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.text-sub-heading .watchlist {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.text-plot {
  max-width: 750px;
}
