.display-message {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.display-message a {
  font-size: 1.5rem;
}

@media (max-width: 699px) {
  /* !MOVIE DISPLAY SECTION */
  main {
    margin-top: 0%;
  }
}
